.big-image
{
   
    width: 84.7vw;
    margin: 12px auto;

}
.card
{
    max-width: 92vw;
    margin: auto;
}
.card-heading
{
    margin: 25px 0;
}
.card-item
{
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 20px;
}
.lines p
{
    text-align: center;
    margin: 10px 0;
}
.cards
{
    display: flex;
    justify-content: space-between;
}