@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Mochiy+Pop+P+One&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}
:root
{
    --main-bg-color:#2874f0;
}
html
{
    font-family: 'Lato', sans-serif;
}
.main-header
{
    background-color: var(--main-bg-color);
    font-family: inherit;
    border-bottom: 1px solid  rgba(0,0,0,0.2);
    
}
.header-nav
{
    display: flex;
}

.logo
{
    display: flex;
    align-items: center;
    margin-left: 30px;
    
}
.logo img
{
    width: 8.1rem;
    padding: 0 0.2rem;
}

.header-list
{
    list-style: none;
    padding: 0 2rem;
}
.header-list_ul
{
    height: 4rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 350px;
    
}
.nav-link
{
    color:#ffff ;
    text-decoration: none;
}
.nav-link:hover
{
    text-shadow: 0px 1px #ffffff;
    transition: all 150ms ease-in-out;
   
}
.search
{
    display: flex;
    align-items: center;
    margin-left: 30px;
}
.search input{
    width: 30vw;
    height: 27px;
    border: none;
    border-radius: 2px;
    margin: 0 20px 0 56px;
    padding:20px;
    
}
.search button
{
    font-family: inherit;
    font-weight: 900;
    padding: 3px;
    border: none;
    border-radius: 2px;
    background-color: #2874f0;
    outline: 2px solid white;
    color: white;
    cursor: pointer;
}
 button:hover
{
   transform: scale(1.01);
   transition: all 150ms ease-in-out;
}
#login-link
{
    background-color: #ffffff;
    color: #2874f0;
    font-weight: bolder;
    padding: 6px 20px;
    border-radius: 2px;

}

.main-container
{
    min-height: 790px;
   
}
.About
{
  margin-left: 3rem;
  padding: 2rem;
}
.footer-span
{
    display: block;
    padding: 0.3rem 0;
}
.heading-first
{
    color: #6a6b6b;
    padding-bottom: 1.6rem;
}

.flex-container
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
   
}
.copy
{
    padding: 2rem;
    text-align: center;
}
